<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--viewport 视图-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>慢慢买</title>
    <!-- bootstrap css文件 -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <!--默认的  less.js是通过ajax解析，所以需要加 / less 然后通过服务器打开 -->
    <!--<link rel="stylesheet/less" href="css/base.less">-->
    <!--公共的样式-->
    <!--<link rel="stylesheet/less" href="css/common.less">-->
    <link rel="stylesheet/less" href="css/category.less">
    <!--less 本地编译-->
    <script src="lib/less/less.js"></script>
</head>

<body>
    <!--头部logo区域-->
    <header class="header navbar-fixed-top">
        <div class="logo">
            <a href="index.html">
                <img src="images/header_logo.png" alt="logo">
            </a>
        </div>
        <div class='appdown'>
            <a href="#">
                <img src="images/header_app.png" alt="手机app下载">
            </a>
        </div>
    </header>
    <!--搜索区域-->
    <div class="seach_box ">
        <form class="navbar-form clearfix" role="search">
            <div class="form-group seach_txt">
                <input type="text" placeholder="请输入你想比价的商品">
            </div>
            <button type="submit" class="btn btn-default seach_btn">搜索</button>
        </form>
    </div>

    <main class="brief">
        <div class="briefin">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 

            </div>
        </div>
    </main>




    <!--下拉栏模版-->
    <script type="text/html" id="title-template">
        {{if result}}
                {{each result as k}}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" titleid = {{k.titleId}} >
                                {{k.title}}
                            </a>
                        </h4>
                    </div>
                    
                </div>
            {{/each}}
        {{/if}}
    </script>
    <!--下拉栏内容模版-->
    <script type="text/html" id="list-template">
        {{if result}}
            <div class="panel-body">
                    <ul>
                        {{ each result as k}}
                        <li><a href="prolist.html?id={{k.categoryId}}"  categoryid = {{k.categoryId}} >{{ k.category }}</a></li>
                        {{/each}}
                    </ul>
                </div>
        {{/if}}
    </script>


    <!--底部区域-->
    <footer class="footer">
        <div class="userEntry_box">
            <ul>
                <li><a href="login.html">登录</a></li>
                <li><a href="userRegister.html">注册</a></li>
                <li>
                    <a href="#"><img src="http://www.zuyushop.com/wap/images/top.jpg" alt="">返回顶部</a>
                </li>
            </ul>
        </div>
        <div class="info">
            <p>
                <a href="#">手机APP下载</a><a href="#">慢慢买手机版</a> -- 掌上比价平台
            </p>
            <p>m.manmanbuy.com</p>
        </div>
    </footer>
    <!--app-open链接-->
    <div class=" navbar-fixed-bottom app-open">
        <a href="javascript:;" class="pull-left closefix" id="closefix"></a>
        <div class="pull-left app-icon"></div>
        <p>慢慢买</p>
        <p>全网比价,查历史价格</p>
        <a href="http://m.manmanbuy.com/?o=download" title="打开app" class="download-btn">立即打开</a>
    </div>


    <!--jquery js文件-->
    <script src="lib/jquery/jquery-2.2.2.js"></script>
    <!-- bootstrap js文件-->
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <!--模板引擎-->
    <script src="lib/js/template.js"></script>

    <script src="js/common.js"></script>

    <script src="js/category.js"></script>


</body>

</html>