<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<!--viewport 视图-->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>慢慢买</title>
	<!-- bootstrap css文件 -->
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
	<!--默认的  less.js是通过ajax解析，所以需要加 / less 然后通过服务器打开 -->
	<!--<link rel="stylesheet/less" href="css/base.less">-->
	<!--公共的样式-->
	<!--<link rel="stylesheet/less" href="css/common.less">-->
    <!--引入自己的样式-->
    <link rel="stylesheet/less" href="css/index.less">
	<!--less 本地编译-->
	<script src="lib/less/less.js"></script>
</head>

<body>
	     	<!--头部logo区域-->
	<header class="header navbar-fixed-top">
		<div class="logo">
			<a href="index.html">
				<img src="images/header_logo.png" alt="logo">
			</a>
		</div>
		<div class='appdown'>
			<a href="#">
				<img src="images/header_app.png" alt="手机app下载">
			</a>
		</div>
	</header>
	<!--搜索区域-->
	<div class="seach_box ">
		<form class="navbar-form clearfix" role="search">
			<div class="form-group seach_txt">
				<input type="text" placeholder="请输入你想比价的商品">
			</div>
			<button type="submit" class="btn btn-default seach_btn">搜索</button>
		</form>
	</div>
	
    <!--导航栏-->
    <nav class="m-nav">
        <div class="nav-box" id="nav_box">
        </div>        
    </nav>

    <!---->

    <main class="m-main">
        <a href="moneyctrl.html" class="skipMoney">
            <span class="pull-left">超值折扣推荐</span>
            <img src="http://www.zuyushop.com/wap/images/more.png" alt="省钱控" class='pull-right'>
        </a>

        <div class="money-list">
            <ul class="list-box" id="list_box">
               
            </ul>
        </div>

        <div class="bottom">
            <div  class="more_bar"> <a href="moneyctrl.html">更多优惠信息 »</a></div>
            <a href="brandTitle.html" class="skipMoney">
                        <span class="pull-left">品牌排行</span>
                        <img src="http://www.zuyushop.com/wap/images/more.png" alt="省钱控" class='pull-right'>
            </a>
        </div>
    </main>


    <!--底部区域-->
    <footer class="footer">
        <div class="userEntry_box">
            <ul>
                <li><a href="login.html">登录</a></li>
                <li><a href="userRegister.html">注册</a></li>
                <li><a href="#"><img src="http://www.zuyushop.com/wap/images/top.jpg" alt="">返回顶部</a></li>
            </ul>
        </div>
        <div class="info">
            <p>
                <a href="#">手机APP下载</a><a href="#">慢慢买手机版</a>
                -- 掌上比价平台
            </p>
            <p>m.manmanbuy.com</p>
        </div>
    </footer>

    <!-- APP下载 -->
    <div id="appdown-img" style="position:fixed;right:0;bottom:30px;z-index:999">
        <a href="http://m.manmanbuy.com/?o=download">
            <img src="images/TB2WepTeb1J.eBjSszcXXbFzVXa_!!379516416.png" width="60">
        </a>
    </div>
    

    <!--导航模版-->
    <script type="text/template" id="nav-template">
         <ul class="clearfix">
            {{if result}}
                {{each result as k}}
                    <li><a href="{{k.titlehref}}" data-indexmenuId = "{{ k.indexmenuId }}" >{{ =k.img }}<p class="name">{{k.name}}</p></a></li>
                {{/each}}
            {{/if}}
        </ul>

    </script>

    <script type="text/template" id="list_template">
            {{if result}}
                {{each result as k}}
                <li class="clearfix">
                    <a href="#" >
                        {{#k.productImgSm}}
                        <div class="info ">
                            <p class="title">{{k.productName}}<span>{{k.productPinkage}}</span></p>
                            <p class="other clearfix">
                                    <span class="mall"> {{k.productForm}} | {{k.productTime}} </span>
                                    <span class="comment"> 
                                            <i class="comment-icon"></i>
                                    {{ getNumber(k.productComCount) }}</span>
                            </p>     
                        </div>
                     </a>
                </li>
                {{/each}}
            {{/if}}

    </script>


	<!--jquery js文件-->
	<script src="lib/jquery/jquery-2.2.2.js"></script>
	<!-- bootstrap js文件-->
	<script src="lib/bootstrap/js/bootstrap.js"></script>
	<!--模板引擎-->
	<script src="lib/js/template.js"></script>
  <!--引入自己的JS文件-->
    <script src="js/index.js"></script>

</body>

</html>